@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root{
    --red:#ff3838;
    --black:rgb(20, 20, 20);
    --light-color:#666;
    --swiper-theme-color: white !important;
}
/* remove default designs */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: rgb(255, 255, 255);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: #f7f7f7;
}

section:nth-child(even){
    background: #eee;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#eee;
    background-color: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;

}
.btn:hover{
    background: #eee;
    letter-spacing: .1rem;
    color: var(--black);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

header .logo i{
    padding-right: 0.5rem;
    color: var(--red);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover{
   color: var(--red);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 3.5rem;
    height: 600px;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}
.home .home-slider .slide .content .image{
    flex: 1 1 45rem;
}
.home .home-slider .slide .content span{
    color: var(--red);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 5rem;
}
.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: 4rem 0;
}
.content{
    position: relative;
}
.text-box{
    margin-top:100px;
    position: absolute;
    width: 400px;
    height: 370px;
    top: -12px;
    left: 35px;
    text-align: center;
    z-index: +1;
}















/* Media */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
      padding: 2rem;
    }
    section:nth-child(even){
        background: #f7f7f7;
        }
    .text-box{
        width: 300px;
    }
}

@media(max-width:768px){
   #menu-bar{
       display: initial;
   }
   header .navbar{
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background: #f7f7f7;
       border-top: .1rem solid rgba(0, 0, 0,.1);
      /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);*/
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      
   }
   header .navbar a{
       margin: 1.5rem;
       padding: 1.5rem;
       display: block; 
       border: .2rem solid rgba(0, 0, 0,.1);
       border-left: .5rem solid var(--red);
       background: #fff;
   }
   .home .home-slider .slide{
    height: 500px;   
   }
   .home .home-slider .slide .content .image{
    padding-top: 0;
   }
   .img{
       height: 400px;
   }
   section:nth-child(even){
    background: #f7f7f7;
    }
    .home .home-slider .slide{
        padding-top: 0;
       height: 450px;
    }
    .home .home-slider .slide .content h3{
        font-size: 3.5rem;
    }
    .home .home-slider .slide .content p{
        font-size: 2rem; 
        padding-bottom: 0;
        padding-top: 0;
        color: #222222;
        
    }
   .text-box{
       width: 100%;
       padding-right: 50px;
   }
   .btn{
    position: absolute;
    top: 228px;
    right: 365px;
   }
}

@media(max-width:400px){
    html{
        font-size: 50%;
    }
    .home .home-slider .slide .content h3{
        font-size: 2rem;
    }
    .home .home-slider .slide .content p{
        font-size: 1rem; 
        padding: 1.5rem 0;  
    }
    .text-box{
        background-color: rgb(255, 255, 255);
        opacity: 0.7;
        height:max-content ;
        padding: 3.7px;
        border-radius: 5px;
    }
}